<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>29942823255-c43ovtjv6voes51gqchbbv47qg7su0go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29942823255-c43ovtjv6voes51gqchbbv47qg7su0go</string>
	<key>API_KEY</key>
	<string>AIzaSyCqh47Eti4RPlcn5WCxLK2g78dhfx6yZ8g</string>
	<key>GCM_SENDER_ID</key>
	<string>29942823255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uncc.FirebaseInClass01</string>
	<key>PROJECT_ID</key>
	<string>ios-inclass06-4891d</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-inclass06-4891d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29942823255:ios:bf89e80e29cd2250</string>
	<key>DATABASE_URL</key>
	<string>https://ios-inclass06-4891d.firebaseio.com</string>
</dict>
</plist>